<div class="panel panel-default">
  <div class="panel-body panel-content">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th><%= @collection.title %></th>
          </tr>
        </thead>
        <tbody>
          <% @collection.users.each do |user| %>
            <tr>
              <td><%= user.vendor %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br><br>
      <%= link_to '« Volver atrás', admin_collections_path, class: "adminBack" %>
    </div>
  </div>
</div>
