<div class="panel panel-default">
	<div class="panel-body panel-content">
		<%= render 'form', product: @product %>  
		<br><br>
		<%= link_to '« Volver atrás', admin_products_path, class: "adminBack" %>
  </div>
</div>
