<div class="panel panel-default">
  <div class="panel-body panel-content">
	  <%= render 'form', user: @user %>
		<br><br>
		<%= link_to '« Volver atrás', admin_users_path, class: "adminBack" %>
  </div>
</div>
